<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加菜单</title>
<link rel="stylesheet" type="text/css" href="/easyui/themes/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<style type="text/css">
.panel {
	margin:50px auto;
}
.easyui-panel{
	padding:10px 60px 20px 60px;
	margin:auto;
}
</style>
</head>
<body>
<div class="easyui-panel" title="菜单详情" style="width:400px">
	<table cellpadding="5">
		<tr>
			<td>父菜单:</td>
			<td>
				<select class="easyui-combobox" name="parentId">	
					<option value="0">作为父级菜单</option>
					<option th:each="pm,stat:${pMenuList}" th:value="${pm.id}" th:text="${pm.name}">父菜单</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>菜单名称:</td>
			<td>
				<input class="easyui-textbox" type="text" name="name" />
			</td>
		</tr>
		<tr>
			<td>链接地址:</td>
			<td>
				<input class="easyui-textbox" type="text" name="url" />
			</td>
		</tr>
	</table>
</div>
</body>
<script type="text/javascript" src="/scripts/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/easyui.min.js"></script>
<script type="text/javascript" src="/easyui/easyui-lang-zh.js"></script>
<script type="text/javascript" src="/scripts/menu/add.js"></script>
</html>