<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台系统</title>
<base th:href="@{/}" />
<link rel="stylesheet" type="text/css" href="easyui/themes/easyui.css" />
<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="styles/index.css" />
</head>
<body class="easyui-layout">

<!-- Header Logo -->
<div class="header" data-options="region:'north'" style="height:51px">
	<div class="logo"></div>
	<ul class="banner">
		<li><a href="javascript:void(0)" aim="http://www.baidu.com/">公司网站</a></li>
		<li><a href="javascript:void(0)" aim="logout">安全退出</a></li>
	</ul>
</div>

<!-- Center Main Page -->
<div id="mainPage" data-options="region:'center'">
	<div id="mainTabs" class="easyui-tabs" data-options="fit:true,border:false">
		<div title="定时任务" closable="true" iconCls='icon-ok'>
			<iframe scrolling="auto" frameborder="0" src="quartz"></iframe>
		</div>
	</div>
</div>

<!-- Footer Copyright -->
<div data-options="region:'south'" style="height:26px;">
	<div class="copyright">
		Copyright©版权所有，<a href="http://www.baidu.com/" target="_blank">XXX有限公司</a>
	</div>
</div>
</body>
<script type="text/javascript" src="scripts/jquery/jquery.min.js"></script>
<script type="text/javascript" src="easyui/easyui.min.js"></script>
<script type="text/javascript" src="easyui/easyui-lang-zh.js"></script>
<script type="text/javascript" src="scripts/index.js"></script>
</html>