<!DOCTYPE HTML>
<html>
<head>
<title>任务列表</title>
<base th:href="@{/}" />
<link rel="stylesheet" type="text/css" href="easyui/themes/easyui.css" />
<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css" />
</head>
<body>
<!-- Table Data -->
<div id="win-panel" class="easyui-panel" title="定时任务管理" data-options="fit:true,border:false">
	<table id="tableData" style="width: 100%; height: 100%"></table>
</div>
</body>
<script type="text/javascript" src="scripts/jquery/jquery.min.js"></script>
<script type="text/javascript" src="easyui/easyui.min.js"></script>
<script type="text/javascript" src="easyui/easyui-lang-zh.js"></script>
<script type="text/javascript" src="scripts/quartz/joblist.js"></script>
</html>