<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css" />
<link rel="stylesheet" type="text/css" href="/styles/upload.css" />
</head>
<body>
<!-- 选择文件按钮 -->
<div id="picker">选择文件</div>

<!--用来存放文件信息-->
<table>
<tbody id="fileList">
<!-- 	<tr id="fileId">
		<td class="fileName"><span>fileName</span></td>
		<td class="progress">
			<div class="progress-text">100%</div>
			<div class="progress-bar" style="width: 100%"></div>
		</td>
		<td><a href="#">查看</a></td>
	</tr> -->
</tbody>
</table>
</body>
<!--引入JS-->
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webuploader/webuploader.js"></script>
<script type="text/javascript" src="/scripts/chunk.js"></script>
</html>