<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重置密码</title>
</head>
<body>
<form action="/newer/password/reset" method="post">
	<fieldset>
		<legend>修改密码</legend>
		<input type="password" name="password" value="" placeholder="输入密码" />
		<input type="password" name="repeatps" value="" placeholder="确认密码" />
		<input type="submit" value="修改" />
	</fieldset>
	<input type="hidden" name="userid" th:value="${userid}" />
</form>
</body>
</html>